body{

}

.tissue-box{
	position: relative;
	width: 600px;
	height: 600px;
	background: white;

}

.shadow{
	width: 200px;
    height: 400px;
    background: #486275;
    position: absolute;
    top: 300px;
    left: 240px;
    border-radius: 20px 10px 10px 20px;
}

.box{
    width: 400px;
    height: 400px;
    background: #6488a2;
    position: absolute;
    top: 300px;
    left: 300px;
    border-radius: 1px 20px 20px 1px;
}

.tissue{
    position: absolute;
    top: 130px;
    left: 290px;
    width: 0px;
    height: 0px;
    border-left: 200px solid transparent;
    border-right: 180px solid transparent;
    border-top: 400px solid #f3eded; 
    border-radius: 50px 50px 20px 20px;

}

.tissue:hover {
    top: 30px;
}